# App_Data/
# uncomment App_Data/ later, this is just to make it easier to get started
node_modules/
artifacts/

# Visual Studio files
*.user
*.lock.json
.vscode/
.vs/
.nuget/
packages/
bin/
obj/

# Optimizely files
*license.config
modules/

# OS crap
.DS_Store
thumbs.db
ehthumbs.db
desktop.ini
